<button class="btn btn-primary" (click)="onFetchPosts();">Fetch Posts</button>
|
<button class="btn btn-danger" (click)="onClearPosts()">Clear Posts</button>
<hr>

<ng-progress></ng-progress>

<p *ngIf="isFetching; else isNotFetching;">Loading</p>
<ng-template #isNotFetching>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of loadedPosts; let i = index" [attr.data-index]="i">
        <th>{{i + 1}}</th>
        <td>{{post.title}}</td>
        <td>{{post.content}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>
